<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>504854895793-47g1k91cgrov2nu0mc1lo20i9vq07t9h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.504854895793-47g1k91cgrov2nu0mc1lo20i9vq07t9h</string>
	<key>API_KEY</key>
	<string>AIzaSyAeDJ2Y3L4oLW4plJ4FBO5pYqOKsK1QfDw</string>
	<key>GCM_SENDER_ID</key>
	<string>504854895793</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.app.meditation</string>
	<key>PROJECT_ID</key>
	<string>meditationapp-51661</string>
	<key>STORAGE_BUCKET</key>
	<string>meditationapp-51661.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:504854895793:ios:1d475c57e00d9e14069690</string>
</dict>
</plist>